<a href="https://colab.research.google.com/github/addomaks/Data-cleaning/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = {"col1" : [1,2,3]}

In [ ]:
df

{'col1': [1, 2, 3]}

In [ ]:
pd.DataFrame(df)

   col1
0     1
1     2
2     3

In [ ]:
df['col2']= [1,2,3]

In [ ]:
df

{'col1': [1, 2, 3], 'col2': [1, 2, 3]}

In [ ]:
data = pd.DataFrame(df)

In [ ]:
#data2 = data.add('col1'+'col2')

In [ ]:
l = 'ab$cde#fg'

In [ ]:
#a = l :: -1

In [ ]:
a = [1,2,3,4,5,7,9,10]
b = range(1,11)

In [ ]:
for i in a:
  range (1,10)
  print(i)

1
2
3
4
5
7
9
10

In [ ]:
 b = range(1,11)
for i in b:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
print('Hello World')

Hello World

In [ ]:
test= "Hello World"[::-1]
test

'dlroW olleH'

In [ ]:
def my_function(x):
  return x[::-1]

tst = my_function("This is my world and I am the king!!")
tst

'!!gnik eht ma I dna dlrow ym si sihT'

In [ ]:
my_list = ["adnan", "kamran", 'atir', 'sana', 'bushra', 'adnan', 'sana', 'ghausia']
list(dict.fromkeys(my_list))

['adnan', 'kamran', 'atir', 'sana', 'bushra', 'ghausia']

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter a second number: "))
c = a+b
print("The total sum is", c)

Enter first number: 23
Enter a second number: 34
The total sum is 57

In [ ]:
data = [['Adnan', 28, "Graduated", 8802980209], ['Kamran', 27, "postgraduation", 9787183971],['Sana', 34, 'graduated', 9818675043],
        ['Asher', 7, '2nd Class'],['Ruhaan', 4, 'KG'], ['Ghausia', 63, 'PostGraduation', 9312411387]]

pd.DataFrame(data, columns=['Name','Age', 'Education', 'Mobile'])

      Name  Age       Education        Mobile
0    Adnan   28       Graduated  8.802980e+09
1   Kamran   27  postgraduation  9.787184e+09
2     Sana   34       graduated  9.818675e+09
3    Asher    7       2nd Class           NaN
4   Ruhaan    4              KG           NaN
5  Ghausia   63  PostGraduation  9.312411e+09

In [ ]:
data2 = [1,2,3,4,5,7,9]
def function_1(data2):
  return [i for i in range(data2[0], data2[-1]+1)
    if i not in data2]

print(function_1(data2))

[6, 8]

In [ ]:
data1 = 'Ruhaan Ahmad Saeed'
for i in range(0, len(data1)):
  print(data1[i])

R
u
h
a
a
n

A
h
m
a
d

S
a
e
e
d

In [ ]:
def even_numbers(arr,n):
    '''Returns the last n numbers of a list of even numbers from array arr'''
    output = []
    for num in range(arr):
        if num % 2 == 0:
            output.append(num)
    return output[:n]

In [ ]:
print(type(type(int)))

<class 'type'>

In [ ]:
tup1 = (1, 2.343, 'adnan')
tup2 = (2, 3.14, 'kamran')

In [ ]:
tup2 + tup1

(2, 3.14, 'kamran', 1, 2.343, 'adnan')

In [ ]:
dsf = pd.DataFrame({ 'Name' : ['Adnan', 'Kamran', 'Atir'],
              'Age': [28, 26, 30],
              'Place': ['Delhi', 'Bengaluru', 'Hyderabad']})

In [ ]:
dsf.reset_index().drop(['index'], axis=1)

     Name  Age      Place
0   Adnan   28      Delhi
1  Kamran   26  Bengaluru
2    Atir   30  Hyderabad

In [ ]:
import numpy as np

In [ ]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
empty = pd.DataFrame()

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

In [ ]:
empty['a'] = a

In [ ]:
empty['b'] = b

In [ ]:
empty

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [ ]:
from os import replace
string = "ab#r@s*da5tr4e"

char = ['#', '$', '@', '5', '4', '*']

for i in char:
  string = string.replace(i, '')

In [ ]:
string

'abrsdatre'

In [ ]:
'Hello World'[::-1]

'dlroW olleH'

In [ ]:
def reverse_string(x):
  return x[::-1]

In [ ]:
reverse_string(' My name is M Andna Sherwani. And Check out the funchtion')

'noithcnuf eht tuo kcehC dnA .inawrehS andnA M si eman yM '

In [ ]:
Strings1 = "Good Morning!"

for i in range(0, len(Strings1)):
  print(Strings1[i])

G
o
o
d

M
o
r
n
i
n
g
!

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numm = np.array([10,21,432,23,1,343])

In [ ]:
numm.mean()
np.median(numm)
numm.std()

178.19807955069425

In [ ]:
op = np.array(([5,5,5],[1,1,1],[2,2,2]))

In [ ]:
lists = [1,2,3,4,3,4,5,6,7,8,7,9,5,3,10,9,10]
listed = [*set(lists)]
listed

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
s= []
a = []
for i in lists:
  if i not in s:
    s.append(i)
  else:
    a.append(i)

In [ ]:
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a

[3, 4, 7, 5, 3, 9, 10]

In [ ]:
list = [i for i in range(20)]
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
bytes('Good Morning', 'utf-8')

b'Good Morning'

In [ ]:
add = [10,20,30,40,50,60]

sum(add)

210

In [ ]:
summ = 0
for i in add:
  summ += i
  print(summ)

10
30
60
100
150
210

In [ ]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [ ]:
items = [1,1,1,1,2,2,3,4,2,3,4,5,4]

counts = dict()

for i in items:
  counts[i] = counts.get(i, 0) + 1

In [ ]:
counts

{1: 4, 2: 3, 3: 2, 4: 3, 5: 1}

In [ ]:
url = 'https://raw.githubusercontent.com/theengineeringworld/statistics-using-python/master/Planets.xls'

planets = pd.read_csv(url)

In [ ]:
planets

,Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,MeanTemperature,SurfacePressure,Moons,Rings,MagneticField,FirstVisited,FirstMission
0,MERCURY,0.3300,4879,4222.6,57.9,88,47.4,167,0.00000,0,No,Yes,1974-03-29,Mariner 10
1,VENUS,4.8700,"12,104",2802.0,108.2,224.7,35.0,464,92.00000,0,No,No,1962-08-27,Mariner 2
2,EARTH,5.9700,"12,756",24.0,149.6,365.2,29.8,15,1.00000,1,No,Yes,NaN,NaN
3,MOON,0.0730,3475,708.7,NaN,27.3,1.0,-20,0.00000,0,No,No,1959-09-12,Luna 2
4,MARS,0.6420,6792,24.7,227.9,687,24.1,-65,0.01000,2,No,No,1965-07-15,Mariner 4
5,JUPITER,1898.0000,"142,984",9.9,778.6,4331,13.1,-110,NaN,67,Yes,Yes,1973-12-04,Pioneer 10
6,SATURN,568.0000,"120,536",10.7,1433.5,"10,747",9.7,-140,NaN,62,Yes,Yes,1979-09-01,Pioneer 11
7,URANUS,86.8000,"51,118",17.2,2872.5,"30,589",6.8,-195,NaN,27,Yes,Yes,1986-01-24,Voyager 2
8,NEPTUNE,102.0000,"49,528",16.1,4495.1,"59,800",5.4,-200,NaN,14,Yes,Yes,1989-08-25,Voyager 2
9,PLUTO,0.0146,2370,153.3,5906.4,"90,560",4.7,-225,0.00001,5,No,NaN,2015-07-14,New Horizons